- var toc = Object.keys(ts).sort((a, b) => a.localeCompare(b))
- var classtoc = Object.keys(typedoc).sort((a, b) => a.localeCompare(b))

html
  head
    title Documentalist
  style.
    body {
      background-color: #F5F5F5;
      color: #555;
      font-family: Helvetica, Arial, sans-serif;
    }

    a {
      color: #888;
      text-decoration: none;
    }

    .hidden {
      display: none;
    }
  link(rel='stylesheet', href='assets/index.css')
body
  #nav
    each item in nav
      a(href="#" + item.reference)
        h3= item.title

    h3 Interfaces
    each ifaceName in toc
      - var iface = ts[ifaceName]
      if iface.type == "interface"
        a(href='#' + iface.name)
          .nav-item= iface.name

    h3 Classes
    each name in classtoc
      - var classdef = typedoc[name]
      if classdef
        a(href='#' + classdef.name)
          .nav-item= classdef.name

    .copyright
      | &copy; Copyright 2017-present Palantir


  #content

  mixin joinContent(doc)
    if doc.contents
      | !{doc.contents.join('')}

  mixin interface(iface)
    .interface-block(id=iface.name)

      +joinContent(iface.documentation)

      .interface-properties
        table
          for prop in iface.properties
            tr
              td.prop-name(valign="top")= prop.name
              td.prop-type(valign="top")
                pre= prop.type
                +joinContent(prop.documentation)

  mixin classtable(iface)
    .interface-block(id=iface.name)

      +joinContent(iface.documentation)

      .interface-properties
        table
          for prop in iface.properties
            tr
              td.prop-name(valign="top")= prop.name
              td.prop-type(valign="top")
                pre= prop.type
                +joinContent(prop.documentation)

      .interface-properties
        table
          for prop in iface.methods
            tr
              td.prop-name(valign="top")= prop.name
              td.prop-type(valign="top")
                pre= prop.type
                +joinContent(prop.documentation)


  each page in pages
    .hidden(data-route=page.reference)
      for block in page.contents
        if typeof block === "string"
          | !{block}
        else if block.tag === "interface"
          - var iface = ts[block.value]
          +interface(iface)

  each iface in ts
    if iface.type == "interface"
      .hidden(data-route=iface.name)
        h2= iface.name
        +interface(iface)

  each iface in typedoc
    if iface.type == "class"
      .hidden(data-route=iface.name)
        h2= iface.name
        +classtable(iface)


  script(type='text/javascript', src='assets/index.js')
